:root {
    --errorColor: red;
    --validColor: green;
}

.modal{
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 2);
    background: none;
    display: none;

}

.modal-content{
    background: bisque;
    margin: 10%;
    width: 60%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 2), 0 7px 20px 0 rgba(0, 0, 0, 2);
}