@import url('modal.css');




header.page-header {
    height: 120px;
    min-width: 120px;
    align-items: center;
    color: white;
    text-shadow: #000 0 0 .2em;
    text-align: center;
}

header.page-header > h1 {
    font: bold calc(1em + 2 * (100vw - 120px) / 100) 'Edline Demo', cursive,
        fantasy;
    margin: 2%;
    font-size: 80px;
    background-color: coral;
}

 /* header */

.menus{
    color: rgb(255, 255, 255);
    background-color: lightsalmon;
}


ul{
    text-justify: auto;
    list-style: none;

}


ul li a{
color: coral;
float: left;
margin-top: 10px;
margin-left: 50px;
margin-right: 50px;
border: 10px;
font: bold calc(1em + 2 * (100vw - 120px) / 100) 'Century Gothic', fantasy
    
} 

ul li a:hover{
    color: rgb(94, 92, 92)
}

:link{
    text-decoration: none;
}


* {
    box-sizing: border-box;
  }
  
  /* Style the search field */
  form.search input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 50%;
    background: #f1f1f1;
    margin-left: 280px;
    margin-top: 20px;
  }
  
  /* Style the submit button */
  form.search button {
    float: left;
    width: 8%;
    padding: 10px;
    background: coral;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
    margin-top: 20px;
  }
  
  form.search button:hover {
    background: rgb(92, 92, 92);
  }
  
  /* Clear floats */
  form.search::after {
    content: "";
    clear: both;
    display: table;
  }

  video{
      margin-left: 320px;
      margin-top: 20px;
  }






  /* LOG IN */


